.env
yarn.lock

node_modules

www/build/*
!www/build/.gitkeep
public/build/*
!public/build/.gitkeep

workspace/*.backup
workspace/.config.nodes.json
workspace/.config.runtime.json
workspace/.config.users.json
workspace/flows_cred.json
